#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.4rem 0;
}

#menu {
  display: flex;
  gap: 2rem;
}

.menu-link {
  font-size: 1.8rem;
  padding: 1rem;
  color: #636474;
  transition: all 0.3s;
}

.menu-link:hover {
  color: #d9807f;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 70%;
    /* top: 70px; */
    top: 0;
    right: 0;
    background-color: #fffdfa;
    height: 0;
    transition: 0.6s;
    z-index: 98;
    visibility: hidden;
    overflow-y: hidden;
    padding-top: 12rem;
  }
  #nav.active #menu {
    display: block;
    height: 100vh;
    visibility: visible;
    overflow-y: auto;
  }
  .menu-link {
    font-size: 2.4rem;
    gap: 3.2rem;
    padding: 4.4rem 0 0 2.4rem;
  }
  #btn-mobile {
    display: flex;
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 45px;
    z-index: 99;
    gap: 0.8rem;
  }
  #hamb {
    display: block;
    border-top: 3px solid;
    width: 3rem;
  }
  #hamb::after,
  #hamb::before {
    content: "";
    display: block;
    width: 3rem;
    height: 0.3rem;
     background-color: #000;
    margin-top: 0.5rem;
    transition: alls 0.3s;
    position: relative;
  }
  #nav.active #hamb {
    border-top-color: transparent;
  }
  #nav.active #hamb::before {
    transform: rotate(135deg);
  }
  #nav.active #hamb::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
